@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Monserrat' 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}